body{
    background-color: aqua;

}

.bob{
    border:20px solid red;
    width: 300px;
    height: 520px;
    display: block;
    background-image: url(finalbob-01.png);
    animation: walk 2s steps(14) infinite;

    }

@keyframes walk{
    to{
        background-position: -4201px;
    }

}


