
body{
    background:url(smoke.png) no-repeat;
    background-size:52%;
    background-position:center;
    background-position:330px 100px;
    }

circle {
    fill: #ddd;
    stroke: #f4a742;
    stroke-width: 50;
    stroke-dasharray: 0 158;
    transition: stroke-dasharray .3s ease;
}

svg {
    margin: 0 auto;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    background: #ddd;
    border-radius: 50%;
    display: block;
}

.buttons {
    margin-bottom: 30px;
}

button {
    text-transform: capitalize;
    font-size: 15px;
    cursor: pointe;
    -webkit-appearance: none;
    border: none;
    margin-right: 5px;
    background-color: transparent;
    padding: 5px 10px;
    outline: none;
    border-radius: 2px;
    transition: background-color .1s ease, color .2s ease;
}

button:last-of-type {
    margin-right: 0;
}

button.active {
    font-weight: 400;
    background-color: black;
    color: white;
}

figcaption {
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}


body,
html {
    height: 100%;
}
.bob{
    width: 300px;
    height: 520px;
    display: block;
    background-image: url(finalbob-01.png);
    animation: walk 2s steps(14) infinite;

    }

@keyframes walk{
    to{
        background-position: -4201px;
    }

}
